#introduction {
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: auto;

  @media (width <= 480px) {
    width: 100%;
  }

  @media (480px < width <= 768px) {
    width: 100%;
  }

  @media (768px < width <= 1200px) {
    width: 100%;
  }

  @media (1200px < width) {
    width: 1000px;
  }
}

#breakpoints {
  margin: auto;
}
